body {
  min-height: 1000px;
}

.navbar-static-top {
  margin-bottom: 19px;
  background-color: #4E4E4E;
  border-color: #444444;
}

.navbar-default .navbar-brand {
  color: #FFF;
}

.navbar-default .navbar-brand:hover {
  color: #777;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #999;
}

.navbar-default .navbar-toggle {
 border-color: transparent !important;
}

.navbar-toggle:hover {
	background-color: #444444 !important;
}

.navbar-toggle {
	background-color: #444444 !important;
}